.heading{
    font-size: 24px;
}

.btn-danger:hover{
 background-color: red;
}

canvas{
    animation-name: digitalColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes digitalColor {
    from{box-shadow: 10px 10px 40px red;}
    to{box-shadow: 10px 10px 40px blue}
    
    
}

